@model IEnumerable<PRC.Models.Event>

@{
    ViewData["Title"] = "Index";
    Layout = "_LayoutAdmin";
}

<h1>PRC Events</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Content)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @item.Date.ToShortDateString()
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            <td>
                <a href="/admin/events/edit/@item.Id">Edit</a> |
                <a href="/admin/events/delete/@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
