@model IEnumerable<PRC.Models.Page>

@{
    ViewData["Title"] = "PRC Pages";
    Layout = "_LayoutAdmin";
}

    <h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <a href="/@item.Url">View</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> | 
                    <a asp-action="Edit" asp-route-id="@item.Id">Properties</a>
                </td>
            </tr>
        }
    </tbody>
</table>